

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin: 0;
    padding: 0;
}

.padding-10{
    padding: 10px;
}

.margin-10{
    margin: 10px;
}

.text-align-center{
    text-align: center;
}

.full-height{
    /* height: 100%; */
    height: 100vh;
}

.full-width{
    width: 100%;
}

.h-center{/* horizontal center */
    display: flex;
    justify-content: center;
}

.v-center{
    display: flex;
    align-content: center;
    align-items: center;
}

.hv-center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hv-100{
    width: 100%;
    height: 100%;
}

.grow{
    flex-grow: 1;
}

.flex-column{
    display: flex;
    flex-direction: column;
}